

<!-- <div class="hero-section bg-dark text-white text-center p-5 position-relative">
  <img src="https://images.unsplash.com/photo-1511649475669-e288648b2339?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="hero-image img-fluid" alt="Hero Image">
  <div class="hero-text position-absolute top-50 start-50 translate-middle">
    <h1>Welcome to Our Website!</h1>
    <p>This is a powerful hero section with a background image</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div> -->


<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Twarita Executive Lodge</h1>
        <p class="lead">So far the most highly rates Lodge is Tuljapur. For best rate book online on Twarita lodge website direct.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Book Room</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="https://firebasestorage.googleapis.com/v0/b/twarita-f1ea4.appspot.com/o/Twarita%20Lodge%20Photo%2Ftwarita.JPG?alt=media&token=52444b60-4f42-45a7-8942-af406f81a288" alt="" width="720">
      </div>
    </div>
  </div>

