<section class="contact-area" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="contact-content text-center">
          <p>Copyright © {{year}} Twarita Executive Lodge - All Rights Reserved.</p>
          <div class="hr"></div>
          <h6>Bhavani Road, Jijamata Nagar, Tuljapur</h6>
          <h6>+91 9922123636<span>|</span>Twaritalodge &#64; gmail.com</h6>
          <div class="contact-social">
            <ul>
              <li>
                <a class="hover-target" href="https://maps.app.goo.gl/mSgvNoby7Gmemf776"><i class="fa-brands fa-google"></i></a>
              </li>
              <li>
                <a class="hover-target" href=""><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a class="hover-target" href=""><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>