<section class="search-sec">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="datetime-local" class="form-control search-slt" placeholder="Checkin time">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="datetime-local" class="form-control search-slt" placeholder="Checkout time">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <select class="form-control search-slt" id="exampleFormControlSelect1">
                <option>Room</option>
                <option>Delux Room</option>
                <option>Family Room</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <button type="button" class="btn btn-danger wrn-btn">Book</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>