<h3>Guest feedback</h3>
<div class="row mt-4 mb-2 ">
  <div class="col-4 col-lg-2 section">
    <h6 class="fw-normal">Cleanliness</h6>
    <p>4.9</p>
    <i class="fa-solid fa-spray-can-sparkles"></i>
  </div>
  <div class="col-4 col-lg-2 section">
    <h6 class="fw-normal">Accuracy</h6>
    <p>4.8</p>
    <i class="fa-solid fa-square-check"></i>
  </div>
  <div class="col-4 col-lg-2 section">
    <h6 class="fw-normal">Check-in</h6>
    <p>4.3</p>
    <i class="fa-solid fa-building-circle-check"></i>
  </div>
  <div class="col-4 col-lg-2 section">
    <h6 class="fw-normal">Communication</h6>
    <p>4.1</p>
    <i class="fa-solid fa-people-arrows"></i>
  </div>
  <div class="col-4 col-lg-2 section">
    <h6 class="fw-normal">Location</h6>
    <p>4.6</p>
    <i class="fa-solid fa-location-dot"></i>
  </div>
  <div class="col-4 col-lg-2 section">
    <h6 class="fw-normal">Value</h6>
    <p>4.4</p>
    <i class="fa-solid fa-dollar-sign"></i>
  </div>

</div>


