<nav class="navbar navbar-dark bg-dark py-0">
  <div class="container">
    <span class="navbar-text"><i class="fa fa-map-marker" aria-hidden="true"></i> Tuljapur 413601</span>
    <!-- <span class="navbar-text mx-auto">Get 20% off this month when you try our services!</span> -->
    <span class="navbar-text"><i class="fa fa-phone" aria-hidden="true"></i> +91 992-212-3636</span>
  </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-light bg-light main-nav">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive>Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">
          <img src="assets/images/logo.png" width="50" height="50" />
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" fragment="rooms">Room</a>
      </li>
    </ul>
  </div>
</nav>