<h3 class="mt-5 mb-4"> Amenities</h3>
<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <h6>Bathroom</h6>
    <ul class="list-group">
      <li class="list-group-item"><i class="fa-solid fa-pump-soap"></i>Shampoo</li>
      <li class="list-group-item"><i class="fa-solid fa-spray-can-sparkles"></i>Conditioner</li>
      <li class="list-group-item"><i class="fa-solid fa-soap"></i>Body soap</li>
      <li class="list-group-item"><i class="fa-solid fa-shower"></i>Shower gel</li>
      <li class="list-group-item"><i class="fa-solid fa-toilet"></i>Toilet paper</li>
      <!-- <li class="list-group-item"><i class="fa-solid fa-spray-can"></i>Jet spray</li> -->
    </ul>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h6>Entertainment</h6>
    <ul class="list-group">
      <li class="list-group-item"><i class="fa-solid fa-tv"></i>LED TV</li>
      <li class="list-group-item"><i class="fa-solid fa-fan"></i>Air Conditioner</li>
      <li class="list-group-item"><i class="fa-solid fa-car"></i>Free Car Parking</li>
      <li class="list-group-item"><i class="fa-solid fa-elevator"></i>Elevator</li>
      <li class="list-group-item"><i class="fa-solid fa-wifi"></i>WI-FI</li>
    </ul>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h6>Safety</h6>
    <ul class="list-group">
      <li class="list-group-item"><i class="fa-solid fa-camera"></i> CCTV</li>
      <li class="list-group-item"><i class="fa-solid fa-car"></i>Covered Parking</li>
      <li class="list-group-item"><i class="fa-solid fa-car"></i>Security</li>

    </ul>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h6>Bedroom</h6>
    <ul class="list-group">
      <!-- <li class="list-group-item"><i class="fa-solid fa-bed"></i>bed sheets</li> -->
      <li class="list-group-item"><i class="fa-solid fa-bed"></i>Bed linens</li>
      <li class="list-group-item"><i class="fa-solid fa-mattress-pillow"></i>Pillows</li>
      <li class="list-group-item"><i class="fa-solid fa-rug"></i>Blankets</li>
    </ul>
  </div>


</div>