<h3 class="mt-5 mb-4"> Aminities</h3>
<div class="row">
  <div class="col-12 col-md-6 mb-4">
    
    <ul class="list-group">
      <li class="list-group-item"><fa-icon [icon]="faTv" class="mx-3"></fa-icon>LED TV</li>
      <li class="list-group-item"><fa-icon [icon]="faFan" class="mx-3"></fa-icon>Air Conditioner</li>
      <li class="list-group-item"><fa-icon [icon]="faCar" class="mx-3"></fa-icon>Car Parking</li>
      <li class="list-group-item"><fa-icon [icon]="faTv" class="mx-3"></fa-icon>LED TV</li>
    </ul>
  </div>

  <div class="col-12 col-md-6 mb-4">
   
    <ul class="list-group">
      <li class="list-group-item"><fa-icon [icon]="faTv" class="mx-3"></fa-icon>LED TV</li>
      <li class="list-group-item"><fa-icon [icon]="faFan" class="mx-3"></fa-icon>Air Conditioner</li>
      <li class="list-group-item"><fa-icon [icon]="faCar" class="mx-3"></fa-icon>Car Parking</li>
      <li class="list-group-item"><fa-icon [icon]="faTv" class="mx-3"></fa-icon>LED TV</li>
    </ul>
    
  </div>

</div>