iframe {
  height: 600px;; /* Adjust height as needed */
  width: 100%;
  border:0;
  /* border-radius: 10px; */
  /* box-shadow: 5px 10px 18px #888888; */
  
}

.map-container {
  height: 400px; /* Adjust height as needed */
  width: 100%;
}
