<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4 logo" src="../../../assets/images/logo.svg" alt="">
  <h1 class="display-5 fw-bold">More about Twarita Executive Lodge </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Twarita Executive Lodge stands as a beacon of hospitality and comfort,
      nestled in the heart of its bustling cityscape. From the moment you step into its welcoming embrace,
      you're greeted with warmth and efficiency, setting the tone for an unforgettable stay.
    </p>
    <p class="lead mb-4">
      Convenience is paramount at Twarita Executive Lodge. Its strategic location ensures easy access to key landmarks,
      business hubs, and recreational hotspots, catering to the needs of both leisure and corporate travelers. Whether
      you're here for a weekend getaway or an important business meeting, you'll find yourself perfectly situated to
      explore all that the city has to offer.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a aria-label="Book on WhatsApp" href="https://wa.me/12269290796" target="_blank">
        <img alt="Book on WhatsApp" src="../../../assets/images/WhatsAppButtonGreenMedium.svg" />
      </a>
    </div>
  </div>
</div>