<div *ngIf="room$ | async as room" class="container">
  <!-- <app-jumbotron [roomJumbotron]="room"></app-jumbotron> -->

  <div class="row">
    <div class="col-9 mt-4 mb-4">
      <h1 class="mt-2">{{room.title}} Room</h1>
      <p class="mt-2 subheader">Guests: {{room.guest}} &#xb7; Beds: {{room.bed}} &#xb7; Bath: {{room.bath}}</p>
    </div>
    <div class="col-3 mt-4 mb-4">
      <button type="button" (click)="goToUrl()" class="btn btn-danger wrn-btn float-end mt-3">Reserve Room</button>
    </div>
    <div class="col-12">
      <app-carousel [roomCarousel]="room"></app-carousel>
    </div>
  </div>


  <div class="row g-5">
    <div class="col-lg-12">
      <article class="blog-post mt-4 mb-4">
        <!-- <h2 class="blog-post-title mt-4">{{room.title}} Room</h2>
        <p class="mt-2 subheader">Guests: {{room.guest}} &#xb7; Beds: {{room.bed}} &#xb7; Bath: {{room.bath}}</p> -->

        <p class="blog-post-meta mt-4">Welcome to our {{room.title}} room!
          {{room.title}} room consist of {{room.bed}} bed and {{room.bath}} bathroom ampel space for accommodation of {{room.guest}}
          guests.
        </p>

        <p class="mt-4"> {{room.text}}</p>

        <app-image-gallery [roomPhotos]="room"></app-image-gallery>
        <app-amenities [roomAmenities]="room"></app-amenities>
        
      </article>

      <!-- <app-reviews></app-reviews> -->

      <!-- <div class="fixed-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <span class="card-text"><strong> {{room.price}} </strong> Rs per night</span>
              </div>
              <div class="col-6">
                <button class="btn btn-danger float-end">Reserve</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </div>

    <!-- <div class="col-lg-3">
      <div class="position-sticky pb-4">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-4">
            <h1 class="card-title mb-5 fs-5">{{room.price}} Rs per night</h1>
            <a type="button" href="https://asiatech.in/booking_engine/index3?token=NzE5NA==" class="btn btn-danger wrn-btn">Book Now</a>
            <form>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <input type="date" class="form-control search-slt" placeholder="Checkin time">
                </div>
                <div class="col-md-12 mb-3">
                  <input type="date" class="form-control search-slt" placeholder="Checkout time">
                </div>

                <div class="col-md-12 mb-3">
                  <select class="form-control search-slt" id="exampleFormControlSelect1">
                    <option>Delux Room</option>
                    <option>Super Delux Room</option>
                    <option>Royal Deluxe Room</option>
                  </select>
                </div>
              </div>
              <div class="d-grid mt-3 mb-3">
                <button class="btn btn-danger btn-login text-uppercase fw-bold" type="submit">Reserve</button>
              </div>
              <hr class="my-4">
              <div class="d-grid mb-2">
                <div class="row mb-3">
                  <div class="col-md-8">
                    <span> {{room.price}} x 1 nights </span>
                  </div>
                  <div class="col-md-4">
                    <strong class="float-end"> {{room.price}} Rs </strong>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-8">
                    <span> Taxes </span>
                  </div>
                  <div class="col-md-4">
                    <strong class="float-end"> 100 Rs </strong>
                  </div>
                </div>
                <hr>
                <div class="row mb-3">
                  <div class="col-md-8">
                    <strong> Total </strong>
                  </div>
                  <div class="col-md-4">
                    <strong class="float-end"> {{room.price}} Rs </strong>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div> -->
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-12">

      <button type="button" class="btn btn-danger wrn-btn" (click)="goToUrl()">Reserve Room</button>

    </div>
  </div>

</div>