<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
   
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">More about Twarita Palace</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div> -->
    </div>
    <div class="col-12 col-lg-6">
      <img src="https://images.unsplash.com/photo-1600011689032-8b628b8a8747?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block mx-lg-auto" alt="Bootstrap Themes" loading="lazy">
    </div>
  </div>
</div>