<section class="mt-5 mb-5">
  <div class="row">
    <div class="contactcard col-sm-12 col-md-5">
      <div class="">
        <h3>VISIT US</h3>
        <p>Special Requests?</p>
        <p>Do you have dietary concerns? Questions about an upcoming event? Drop us a line, and we'll get back to you
          soon.</p>
        <h1>Twarita Palace Lodge</h1>
        <p>Shivaji Maharaj chowk, Vasudev Galli, Tuljapur</p>
        <p>+91.9922123636</p>
        <h3>Hours</h3>
        Mon to Sun - 11:00 a.m. – 10:00 p.m.
      </div>
    </div>

    <div class="col-sm-12 col-md-7 mapscontainer">
      <app-maps></app-maps>
    </div>

  </div>
</section>